@page
@model AirBNBClone.Pages.AdminPages.ReservationAdmin.IndexModel
@{
    ViewData["Title"] = "Reservations";
}

<h1>Reservations</h1>
<!--<a asp-page="Upsert" class="btn btn-primary mb-3">Create New Reservation</a>-->
<!--Admins shouldn't be able create new reservations, but we can re-use this code for the user side and have this go to search to book a new reservation-->
<table class="table">
    <thead>
        <tr>
            <th>Rental Id</th>
            <th>Start</th>
            <th>End</th>
            <th>Confirm</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model.Reservations)
        {
            <tr>
                <td>@reservation.RentalId</td>
                <td>@reservation.Start</td>
                <td>@reservation.End</td>
                <td>@reservation.Confirm</td>
                <td>
                    <a asp-page="Upsert" asp-route-id="@reservation.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-page="Delete" asp-route-id="@reservation.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
