@page
@model AirBNBClone.Pages.RentalDetailsModel
@{
}
<!-- Link to the custom CSS file -->
<link rel="stylesheet" href="~/css/RentalDetails.css">


<!--Only display if Model.objRental is not null-->
@if (Model.objRental is not null)
{

    <div class="container-fluid px-5 py-3 border custom-container center-content">
        <div class="row flex-lg-row-reverse align-items-center g-3 py-3">
            <div class="col-12 col-lg-7">
                <img src="/Images/?id=@Model.objMainPhotoId" class="d-block mx-lg-auto img-fluid rounded-image" alt="Bootstrap Themes" width="800" height="600" loading="lazy">
            </div>
            <div class="col-12 col-lg-5">
                <h3 class="display-6 fw-bold text-body-emphasis lh-1 mb-3">@Model.objRental.Title</h3>
                <p>Database ID: @Model.objRental.Id</p>
                <div class="mb-3">
                    <p><strong>State:</strong> @Model.objRental.State</p>
                    <p><strong>City:</strong> @Model.objRental.City</p>
                    <p><strong>Address:</strong> @Model.objRental.Address</p>
                    <p><strong>Zip:</strong> @Model.objRental.Zip</p>
                    <p><strong>Owner:</strong> @Model.objRental.OwnerId</p>
                    <p><strong>Phone:</strong> @Model.objRental.Phone</p>
                </div>
                <div class="text-muted">
                    <p><strong>Amenities:</strong></p>
                    <ul class="amenities-list">
                        @foreach (var obj in Model.objAmenityList)
                        {
                            <li>@obj.Name</li>
                        }
                    </ul>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="/Reservations/DateSelector?Id=@Model.objRental.Id" class="btn btn-primary btn px-4 me-md-2">Book</a> <!--This will link to the reservations page to then be submitted as a new reservation-->
                    <a href="/Search" class="btn btn-outline-secondary btn px-4">Go Back</a> <!--This will need to go back to search from 'RentalID'-->
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Calendar for the next 30 days</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sun</th>
                                    <th>Mon</th>
                                    <th>Tue</th>
                                    <th>Wed</th>
                                    <th>Thu</th>
                                    <th>Fri</th>
                                    <th>Sat</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < 7; i++)
                                {
                                    <tr>
                                        @for (int j = 0; j < 7; j++)
                                        {
                                            var day = i * 7 + j - Model.DayOfWeek;
                                            if (day >= 30)
                                            {
                                                break;
                                            }
                                            if (day < 0)
                                            {
                                                <td></td>
                                                continue;
                                            }
                                            var date = DateTime.Today.AddDays(day);
                                            var availabilityString = Model.objAvailabilityStringList[day];
                                            //var dayOfWeek = Model.DayOfWeek.FirstOrDefault(d => d.DayOfWeek == date.DayOfWeek);
                                            var isAvailable = availabilityString.Contains("Available");

                                            <td @(isAvailable ? "class=bg-success" : "class=bg-danger")>
                                                @date.Day.ToString()
                                                @if (isAvailable)
                                                {
                                                    <br />

                                                    <span>@availabilityString</span>
                                                }
                                                else
                                                {
                                                    <br />

                                                    <span>@availabilityString</span>
                                                }
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

}
else
{
    <h1>No rental found</h1>
    <form method="get">
        <input asp-for="Id" type="number" value="@Model.Id" />
    </form>
    <!--Button back to index-->
    <a href="/Search" class="btn btn-outline-secondary btn px-4">Go Back</a>
}