@page
@using Utility
@model AirBNBClone.Pages.Search.IndexModel
@{
    ViewData["Title"] = "Search";
}

<h2>Search</h2>

<form method="get" class="form-inline">
    <div class="form-row d-flex align-items-center justify-content-start flex-wrap w-100">
        <!-- First Row -->
        <div class="col-auto mx-1">
            <input asp-for="Country" type="text" class="form-control mb-2" name="Country" placeholder="Country" />
        </div>
        <div class="col-auto mx-1">
            <input asp-for="City" type="text" class="form-control mb-2" name="City" placeholder="City" />
        </div>
        <div class="col-auto mx-1">
            <input asp-for="StartDate" type="date" class="form-control mb-2" name="StartDate" placeholder="Start Date" />
        </div>
        <div class="col-auto mx-1">
            <input asp-for="EndDate" type="date" class="form-control mb-2" name="EndDate" placeholder="End Date" />
        </div>
        <div class="col-auto mx-1">
            <select asp-for="Beds" class="form-control mb-2" name="Beds">
                <option value="">Beds</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="col-auto mx-1">
            <select asp-for="Baths" class="form-control mb-2" name="Baths">
                <option value="">Baths</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="col-auto mx-1">
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </div>
    </div>
    <!--<div class="form-row d-flex align-items-center justify-content-start flex-wrap w-100">

        <div class="col-auto mx-1">
            <select class="form-control mb-2" name="Amenities">
                <option value="">Extra amenities</option>
                <option value="Hot tub">Hot tub</option>
                <option value="Pool">Pool</option>
                <option value="Pool Table">Pool Table</option>
                <option value="Bar">Bar</option>
                <option value="Sauna">Sauna</option>
                <option value="Back Yard">Back Yard</option>
                <option value="Cinema">Cinema</option>
            </select>
        </div>
        <div class="col-auto mx-1">
            <select class="form-control mb-2" name="Amenities">
                <option value="">Extra amenities</option>
                <option value="Hot tub">Hot tub</option>
                <option value="Pool">Pool</option>
                <option value="Pool Table">Pool Table</option>
                <option value="Bar">Bar</option>
                <option value="Sauna">Sauna</option>
                <option value="Back Yard">Back Yard</option>
                <option value="Cinema">Cinema</option>
            </select>
        </div>
        <div class="col-auto mx-1">
            <select class="form-control mb-2" name="Amenities">
                <option value="">Extra amenities</option>
                <option value="Hot tub">Hot tub</option>
                <option value="Pool">Pool</option>
                <option value="Pool Table">Pool Table</option>
                <option value="Bar">Bar</option>
                <option value="Sauna">Sauna</option>
                <option value="Back Yard">Back Yard</option>
                <option value="Cinema">Cinema</option>
            </select>
        </div>
        <div class="col-auto mx-1">
            <select class="form-control mb-2" name="Amenities">
                <option value="">Extra amenities</option>
                <option value="Hot tub">Hot tub</option>
                <option value="Pool">Pool</option>
                <option value="Pool Table">Pool Table</option>
                <option value="Bar">Bar</option>
                <option value="Sauna">Sauna</option>
                <option value="Back Yard">Back Yard</option>
                <option value="Cinema">Cinema</option>
            </select>
        </div>
        <div class="col-auto mx-1">
            <select class="form-control mb-2" name="Amenities">
                <option value="">Extra amenities</option>
                <option value="Hot tub">Hot tub</option>
                <option value="Pool">Pool</option>
                <option value="Pool Table">Pool Table</option>
                <option value="Bar">Bar</option>
                <option value="Sauna">Sauna</option>
                <option value="Back Yard">Back Yard</option>
                <option value="Cinema">Cinema</option>
            </select>
        </div>
        <div class="col-auto mx-1">
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </div>
    </div>-->
</form>

<div class="row" data-masonry='{"percentPosition": true }'>
    @foreach (var megaObj in Model.objMegaRentalInfoList)
    {
        // get the image with RentalId matching, PrimaryImage = true
        <div class="col-sm-6 col-lg-4 mb-4">

            <div class="card">
                <!--Now use an image-->
                <img class="card-img-top" src="/Images?id=@megaObj.ImageId" alt="Image cap" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">@megaObj.Rental.Title</h5>
                    <h6>@megaObj.Rental.Beds Beds, @megaObj.Rental.Baths Baths</h6>
                    <div class="card-text">
                        <div class="row">
                            <div class="col-6 mb-2">
                                <strong>Country:</strong> <span>@megaObj.Rental.Country</span>
                            </div>
                            <div class="col-6 mb-2">
                                <strong>State:</strong> <span>@megaObj.Rental.State</span>
                            </div>
                            <div class="col-6 mb-2">
                                <strong>City:</strong> <span>@megaObj.Rental.City</span>
                            </div>
                            <div class="col-6 mb-2">
                                <strong>Address:</strong> <span>@megaObj.Rental.Address</span>
                            </div>
                        </div>
                    </div>
                    <a asp-page="/RentalDetails" asp-route-Id="@megaObj.Rental.Id" class="btn btn-primary">View Details</a>
                    @if (!User.IsInRole(SD.OwnerRole) && !User.IsInRole(SD.RenterRole) && !User.IsInRole(SD.AdminRole))
                    {
                        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-secondary">Login to contact owner</a>
                    }
                    else
                    {
                        <a href="https://wa.me/@megaObj.PhoneNumber" class="btn btn-secondary">Contact Owner</a>
                    }
                </div>
            </div>
        </div>
    }
</div>
